pre.formatted {
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 100%;
    height: 600px;
    scroll-behavior: auto;
    tab-size: 2;
}

span.element {
    padding-left: 10px;
    padding-right: 10px;
}

span.additionalElement {
    background-color: palegreen;
}

span.updatedElement {
    background-color: lightblue;
}

span.removedElement {
    background-color: lightpink;
}
